In [150]:
from config import api_key
from yelpapi import YelpAPI
import requests
import pandas as pd
import numpy as np
from pprint import pprint

In [151]:
cities = ["Anaheim", "Santa Ana", "Irvine", "Cypress", "Garden Grove", "Orange", "Fullerton", "Costa Mesa", "Tustin", "Westminster"]
url = "https://api.yelp.com/v3/businesses/search"
headers = {'Authorization': 'Bearer %s' %api_key}
business_id = []
for c in cities: #since the search limit is 50, we set the radius about 3 miles
    params = {'term':"restaurant" ,"location": c,"limit": 50,"radius": 5000}
    responses = requests.get(url,headers = headers, params = params).json()
    for response in responses["businesses"]:
        business_id.append(response["id"])

In [152]:
yelp_api = YelpAPI(api_key)
responses = []
for b in business_id:
    responses.append(yelp_api.business_query(id = b))

In [153]:
dates_time = []
ratings = []
for r in responses:
    try:
        dates_time.append(r["hours"][0]["open"])
        ratings.append(r["rating"])
    except KeyError: #some stores didn't list out operation hours
        continue

In [154]:
total_hours = []
for date_time in dates_time:
    total = 0
    for x in range(len(date_time)):
        if int(date_time[x]["end"]) == 0:
            total += 2400-int(date_time[x]["start"])
        elif int(date_time[x]["end"]) < 600:
#             print(date_time[x]["day"])
            total += int(date_time[x]["end"])+2400 - int(date_time[x]["start"])
        else:
            total += int(date_time[x]["end"])-int(date_time[x]["start"])
            if total < 0:
                print(total)
                print(date_time[x]["end"])
    total_hours.append(round(total/100)) #sum of operation hours

In [155]:
print(len(ratings))
print(len(total_hours))

493
493

In [156]:
business_id2 = []
for c2 in cities:
    params = {'term':"restaurant" ,"location": c2,"limit": 50,"offset":50,"radius": 5000,}
    responses = requests.get(url,headers = headers, params = params).json()
    for response in responses["businesses"]:
        business_id2.append(response["id"])

In [157]:
yelp_api = YelpAPI(api_key)
responses2 = []
for b2 in business_id2:
    responses2.append(yelp_api.business_query(id = b2))

In [158]:
dates_time2 = []
# ratings2=[]
for r2 in responses2:
    try:
        dates_time2.append(r2["hours"][0]["open"])
        ratings.append(r2["rating"])
    except KeyError: #some stores didn't list out operation hours
        continue

In [ ]:
pprint(dates_time2)

In [159]:
# total_hours2=[]
for date_time2 in dates_time2:
    total = 0
    for x2 in range(len(date_time2)):
        if int(date_time2[x2]["end"]) == 0:
            total += 2400-int(date_time2[x2]["start"])
        elif int(date_time2[x2]["end"]) < 1000:
#             print(date_time[x]["day"])
            total += int(date_time2[x2]["end"])+2400 - int(date_time2[x2]["start"])
        else:
            total += int(date_time2[x2]["end"])-int(date_time2[x2]["start"])
            if total < 0:
                print(total)
                print(date_time2[x]["end"])
    total_hours.append(round(total/100)) #sum of operation hours

In [160]:
print(len(ratings))
print(len(total_hours))

974
974

In [161]:
hours_ratings = pd.DataFrame({"Hours": total_hours,
                             "Ratings": ratings})
hours_ratings

     Hours  Ratings
0       55      4.5
1       35      4.5
2       70      4.0
3       79      4.0
4       75      4.0
5       79      4.5
6       74      4.0
7       41      4.5
8       30      4.5
9       65      4.5
10     126      4.5
11      48      4.0
12      84      4.0
13      73      4.0
14      61      4.5
15      83      4.0
16      65      4.5
17     109      3.5
18      51      4.5
19      68      4.0
20      75      4.0
21     131      4.0
22      75      4.5
23      36      4.0
24      93      4.0
25      87      4.5
26      73      4.0
27     114      4.0
28     108      4.0
29      77      4.0
..     ...      ...
944     76      3.5
945    102      4.0
946     79      4.0
947     80      3.5
948     77      3.0
949     68      3.5
950     78      3.5
951     35      3.5
952     50      4.0
953     76      3.5
954     90      3.5
955     32      5.0
956     86      3.5
957    105      4.0
958     79      3.5
959     77      3.5
960     66      3.5
961    100      2.5
962     67      4.0
963    116      3.5
964    109      3.5
965     64      3.5
966     67      3.5
967     79      3.0
968     52      3.5
969     41      4.0
970     46      3.5
971     57      3.5
972     72      4.0
973    102      3.5

[974 rows x 2 columns]