In [137]:
from config import api_key
from yelpapi import YelpAPI
import requests
import pandas as pd
import numpy as np
from pprint import pprint

In [138]:
cities = ["Anaheim", "Santa Ana", "Irvine", "Huntington Beach", "Garden Grove", "Orange", "Fullerton", "Costa Mesa", "Mission Viejo", "Westminster"]
url = "https://api.yelp.com/v3/businesses/search"
headers = {'Authorization': 'Bearer %s' %api_key}
business_id = []
for c in cities: #since the search limit is 50, we set the radius about 3 miles
    params = {'term':"restaurant" ,"location": c,"limit": 50,"radius": 5000}
    responses = requests.get(url,headers = headers, params = params).json()
    for response in responses["businesses"]:
        business_id.append(response["id"])

In [139]:
yelp_api = YelpAPI(api_key)
responses = []
for b in business_id:
    responses.append(yelp_api.business_query(id = b))

In [140]:
dates_time = []
ratings = []
for r in responses:
    try:
        dates_time.append(r["hours"][0]["open"])
        ratings.append(r["rating"])
    except KeyError: #some stores didn't list out operation hours
        continue

In [141]:
total_hours = []
for date_time in dates_time:
    total = 0
    for x in range(len(date_time)):
        if int(date_time[x]["end"]) == 0:
            total += 2400-int(date_time[x]["start"])
        elif int(date_time[x]["end"]) < 600:
#             print(date_time[x]["day"])
            total += int(date_time[x]["end"])+2400 - int(date_time[x]["start"])
        else:
            total += int(date_time[x]["end"])-int(date_time[x]["start"])
            if total < 0:
                print(total)
                print(date_time[x]["end"])
    total_hours.append(round(total/100)) #sum of operation hours

In [142]:
print(len(ratings))
print(len(total_hours))

489
489

In [143]:
business_id2 = []
for c2 in cities:
    params = {'term':"restaurant" ,"location": c2,"limit": 50,"offset":50,"radius": 5000,}
    responses = requests.get(url,headers = headers, params = params).json()
    for response in responses["businesses"]:
        business_id2.append(response["id"])

In [144]:
yelp_api = YelpAPI(api_key)
responses2 = []
for b2 in business_id2:
    responses2.append(yelp_api.business_query(id = b2))

In [145]:
dates_time2 = []
# ratings2=[]
for r2 in responses2:
    try:
        dates_time2.append(r2["hours"][0]["open"])
        ratings.append(r2["rating"])
    except KeyError: #some stores didn't list out operation hours
        continue

In [ ]:
pprint(dates_time2)

In [146]:
# total_hours2=[]
for date_time2 in dates_time2:
    total = 0
    for x2 in range(len(date_time2)):
        if int(date_time2[x2]["end"]) == 0:
            total += 2400-int(date_time2[x2]["start"])
        elif int(date_time2[x2]["end"]) < 1000:
#             print(date_time[x]["day"])
            total += int(date_time2[x2]["end"])+2400 - int(date_time2[x2]["start"])
        else:
            total += int(date_time2[x2]["end"])-int(date_time2[x2]["start"])
            if total < 0:
                print(total)
                print(date_time2[x]["end"])
    total_hours.append(round(total/100)) #sum of operation hours

In [147]:
print(len(ratings))
print(len(total_hours))

972
972

In [149]:
hours_ratings = pd.DataFrame({"Hours": total_hours,
                             "Ratings": ratings})
hours_ratings

     Hours  Ratings
0       55      4.5
1       74      4.0
2       35      4.5
3       70      4.0
4       79      4.0
5       65      4.5
6       30      4.5
7       41      4.5
8       75      4.0
9      126      4.5
10      48      4.0
11      79      4.5
12      73      4.0
13     114      4.0
14     109      3.5
15      84      4.0
16      72      4.0
17      56      4.0
18      48      4.5
19      61      4.5
20      74      4.5
21      65      4.5
22      51      4.5
23      73      4.0
24      76      4.5
25     131      4.0
26      68      4.0
27     105      3.5
28      87      4.5
29      93      4.0
..     ...      ...
942     57      3.5
943     58      4.0
944     90      3.5
945     76      3.5
946     80      3.5
947     79      4.0
948     77      3.0
949     41      4.0
950     67      3.5
951     72      4.0
952     78      3.5
953    109      3.5
954     35      3.5
955     80      3.5
956     66      3.5
957    102      3.5
958     38      4.0
959     52      3.5
960     60      4.0
961     54      4.5
962     79      3.5
963     55      3.5
964     49      4.0
965    102      3.5
966     78      3.5
967     79      3.0
968    100      2.5
969    105      4.0
970     67      4.0
971     64      3.5

[972 rows x 2 columns]