In [6]:
from config import api_key
from yelpapi import YelpAPI
import requests
import pandas as pd
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt

In [48]:
cities = ["Anaheim,CA", "Santa Ana,CA", "Irvine,CA", "Huntington Beach,CA", "Garden Grove,CA", 
          "Orange,CA", "Fullerton,CA", "Costa Mesa,CA", "Mission Viejo,CA", "Westminster,CA"]
types = ["Chinese", "Mexican", "French", "Japanese", "Mediterranean","American", "Italian", 
         "Korean", "Thai", "Indian"]
url = "https://api.yelp.com/v3/businesses/search"
headers = {'Authorization': 'Bearer %s' %api_key}

types_summary = {}
ratings_summary = {}

for city in cities:
    restaurant_types={}
    ratings={}
    restaurant_ratings = {}
    for t in types:
        results = []
        params = {"term":t,"location":city,"limit":50,"radius":5000}
        responses = requests.get(url,headers = headers,params = params).json()
        for response in responses["businesses"]:
            results.append(response)
            
        url_params = {"term":t,"location":city,"limit":50,"offset":50,"radius":5000}
        answers = requests.get(url,headers = headers,params = url_params).json()
        
        for answer in answers["businesses"]:
            results.append(answer)
        for result in results:
            if t not in restaurant_types:
                restaurant_types[t]=1
                ratings[t]=result["rating"]
            else:
                restaurant_types[t]+=1
                ratings[t]+=result["rating"]
    for cuisine in ratings:
        restaurant_ratings[cuisine]=round(ratings[cuisine]/restaurant_types[cuisine],2)
    ratings_summary[city]=restaurant_ratings
    types_summary[city]=restaurant_types

In [49]:
print(types_summary)

{'Anaheim,CA': {'Chinese': 68, 'Mexican': 100, 'French': 17, 'Japanese': 64, 'Mediterranean': 25, 'American': 100, 'Italian': 100, 'Korean': 83, 'Thai': 82, 'Indian': 19}, 'Santa Ana,CA': {'Chinese': 72, 'Mexican': 100, 'French': 12, 'Japanese': 61, 'Mediterranean': 12, 'American': 100, 'Italian': 85, 'Korean': 68, 'Thai': 82, 'Indian': 10}, 'Irvine,CA': {'Chinese': 82, 'Mexican': 100, 'French': 7, 'Japanese': 91, 'Mediterranean': 25, 'American': 95, 'Italian': 68, 'Korean': 100, 'Thai': 87, 'Indian': 16}, 'Tustin,CA': {'Chinese': 86, 'Mexican': 100, 'French': 7, 'Japanese': 97, 'Mediterranean': 28, 'American': 100, 'Italian': 82, 'Korean': 100, 'Thai': 91, 'Indian': 20}, 'Garden Grove,CA': {'Chinese': 100, 'Mexican': 100, 'French': 21, 'Japanese': 100, 'Mediterranean': 26, 'American': 100, 'Italian': 100, 'Korean': 100, 'Thai': 100, 'Indian': 17}, 'Orange,CA': {'Chinese': 55, 'Mexican': 100, 'French': 10, 'Japanese': 58, 'Mediterranean': 20, 'American': 100, 'Italian': 96, 'Korean': 54, 'Thai': 66, 'Indian': 7}, 'Fullerton,CA': {'Chinese': 70, 'Mexican': 100, 'French': 8, 'Japanese': 75, 'Mediterranean': 18, 'American': 100, 'Italian': 100, 'Korean': 100, 'Thai': 78, 'Indian': 13}, 'Costa Mesa,CA': {'Chinese': 59, 'Mexican': 100, 'French': 22, 'Japanese': 100, 'Mediterranean': 21, 'American': 100, 'Italian': 100, 'Korean': 90, 'Thai': 85, 'Indian': 13}, 'Cypress,CA': {'Chinese': 87, 'Mexican': 100, 'French': 12, 'Japanese': 96, 'Mediterranean': 13, 'American': 100, 'Italian': 76, 'Korean': 100, 'Thai': 88, 'Indian': 25}, 'Westminster,CA': {'Chinese': 100, 'Mexican': 100, 'French': 15, 'Japanese': 100, 'Mediterranean': 18, 'American': 100, 'Italian': 100, 'Korean': 100, 'Thai': 100, 'Indian': 14}}

In [50]:
types_summary_df = pd.DataFrame.from_dict(types_summary)
types_summary_df

,"Anaheim,CA","Costa Mesa,CA","Cypress,CA","Fullerton,CA","Garden Grove,CA","Irvine,CA","Orange,CA","Santa Ana,CA","Tustin,CA","Westminster,CA"
American,100,100,100,100,100,95,100,100,100,100
Chinese,68,59,87,70,100,82,55,72,86,100
French,17,22,12,8,21,7,10,12,7,15
Indian,19,13,25,13,17,16,7,10,20,14
Italian,100,100,76,100,100,68,96,85,82,100
Japanese,64,100,96,75,100,91,58,61,97,100
Korean,83,90,100,100,100,100,54,68,100,100
Mediterranean,25,21,13,18,26,25,20,12,28,18
Mexican,100,100,100,100,100,100,100,100,100,100
Thai,82,85,88,78,100,87,66,82,91,100

In [51]:
print(ratings_summary)

{'Anaheim,CA': {'Chinese': 3.51, 'Mexican': 3.79, 'French': 4.0, 'Japanese': 3.84, 'Mediterranean': 4.02, 'American': 3.99, 'Italian': 3.71, 'Korean': 3.89, 'Thai': 3.83, 'Indian': 3.87}, 'Santa Ana,CA': {'Chinese': 3.56, 'Mexican': 4.12, 'French': 4.04, 'Japanese': 3.62, 'Mediterranean': 4.12, 'American': 3.53, 'Italian': 3.76, 'Korean': 3.71, 'Thai': 3.84, 'Indian': 4.2}, 'Irvine,CA': {'Chinese': 3.45, 'Mexican': 3.71, 'French': 3.86, 'Japanese': 3.62, 'Mediterranean': 3.96, 'American': 3.47, 'Italian': 3.65, 'Korean': 3.67, 'Thai': 3.67, 'Indian': 3.72}, 'Tustin,CA': {'Chinese': 3.48, 'Mexican': 3.71, 'French': 3.93, 'Japanese': 3.7, 'Mediterranean': 4.0, 'American': 3.69, 'Italian': 3.57, 'Korean': 3.71, 'Thai': 3.68, 'Indian': 4.0}, 'Garden Grove,CA': {'Chinese': 3.8, 'Mexican': 3.85, 'French': 3.93, 'Japanese': 3.68, 'Mediterranean': 3.92, 'American': 3.75, 'Italian': 3.63, 'Korean': 3.81, 'Thai': 3.95, 'Indian': 3.91}, 'Orange,CA': {'Chinese': 3.55, 'Mexican': 3.94, 'French': 3.95, 'Japanese': 3.75, 'Mediterranean': 4.2, 'American': 3.75, 'Italian': 3.61, 'Korean': 3.82, 'Thai': 3.89, 'Indian': 4.21}, 'Fullerton,CA': {'Chinese': 3.45, 'Mexican': 3.72, 'French': 3.94, 'Japanese': 3.9, 'Mediterranean': 3.97, 'American': 3.73, 'Italian': 3.64, 'Korean': 3.81, 'Thai': 3.72, 'Indian': 3.73}, 'Costa Mesa,CA': {'Chinese': 3.67, 'Mexican': 3.77, 'French': 4.0, 'Japanese': 3.97, 'Mediterranean': 4.07, 'American': 3.82, 'Italian': 3.87, 'Korean': 3.84, 'Thai': 3.91, 'Indian': 4.0}, 'Cypress,CA': {'Chinese': 3.63, 'Mexican': 3.61, 'French': 4.17, 'Japanese': 3.83, 'Mediterranean': 4.27, 'American': 3.63, 'Italian': 3.63, 'Korean': 3.94, 'Thai': 3.78, 'Indian': 3.82}, 'Westminster,CA': {'Chinese': 3.69, 'Mexican': 3.81, 'French': 4.03, 'Japanese': 3.77, 'Mediterranean': 4.11, 'American': 3.54, 'Italian': 3.65, 'Korean': 3.81, 'Thai': 3.88, 'Indian': 3.82}}

In [52]:
ratings_summary_df = pd.DataFrame.from_dict(ratings_summary)
ratings_summary_df

,"Anaheim,CA","Costa Mesa,CA","Cypress,CA","Fullerton,CA","Garden Grove,CA","Irvine,CA","Orange,CA","Santa Ana,CA","Tustin,CA","Westminster,CA"
American,3.99,3.82,3.63,3.73,3.75,3.47,3.75,3.53,3.69,3.54
Chinese,3.51,3.67,3.63,3.45,3.80,3.45,3.55,3.56,3.48,3.69
French,4.00,4.00,4.17,3.94,3.93,3.86,3.95,4.04,3.93,4.03
Indian,3.87,4.00,3.82,3.73,3.91,3.72,4.21,4.20,4.00,3.82
Italian,3.71,3.87,3.63,3.64,3.63,3.65,3.61,3.76,3.57,3.65
Japanese,3.84,3.97,3.83,3.90,3.68,3.62,3.75,3.62,3.70,3.77
Korean,3.89,3.84,3.94,3.81,3.81,3.67,3.82,3.71,3.71,3.81
Mediterranean,4.02,4.07,4.27,3.97,3.92,3.96,4.20,4.12,4.00,4.11
Mexican,3.79,3.77,3.61,3.72,3.85,3.71,3.94,4.12,3.71,3.81
Thai,3.83,3.91,3.78,3.72,3.95,3.67,3.89,3.84,3.68,3.88